In [1]:
import numpy as np #Importovanie knižníc na spracovanie dát a súborov 
import pandas as pd

In [2]:
df = pd.read_csv('tesla_april.csv', parse_dates=['datetime'], infer_datetime_format=True) # načítanie prvého csv súboru kotrý som pomenoval df

In [3]:
df['date'] = df.datetime.dt.date #Vytvorenie stĺpca date- naplnenie zo stĺpca datetime (dátum)
df['time'] = df.datetime.dt.time #Vytvorenie stĺpca time- naplnenie zo stĺpca datetime (čas)
df #výpis súboru csv

,open,high,low,close,volume,datetime,open_ma2,close_ma9,volume_ma9,close_ma180,...,dayofweek,tradehour,trademinute,tradeday,low_support,high_resistance,blw_ma9,abv_ma9,date,time
0,504.0000,505.99,504.00,505.8100,49234,2020-03-30 11:30:00-04:00,503.97000,502.659711,26363.555556,506.701347,...,0,11,30,30,-1,-1,0,1,2020-03-30,11:30:00
1,505.9700,507.71,505.50,506.8592,51278,2020-03-30 11:31:00-04:00,504.98500,503.384622,30254.222222,506.671787,...,0,11,31,30,-1,-1,0,2,2020-03-30,11:31:00
2,506.9400,507.52,505.04,505.7500,49781,2020-03-30 11:32:00-04:00,506.45500,503.994622,34867.666667,506.635342,...,0,11,32,30,-1,0,0,3,2020-03-30,11:32:00
3,505.7369,507.25,505.52,506.5900,11467,2020-03-30 11:33:00-04:00,506.33845,504.534622,33247.000000,506.599731,...,0,11,33,30,0,0,0,4,2020-03-30,11:33:00
4,506.4850,508.32,506.26,508.1082,18907,2020-03-30 11:34:00-04:00,506.11095,505.246644,33776.555556,506.571443,...,0,11,34,30,0,-1,0,5,2020-03-30,11:34:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15819,871.9900,871.99,870.00,871.0000,3597,2020-04-29 19:55:00-04:00,872.34500,871.911111,3373.222222,875.825917,...,2,19,55,29,118,0,0,0,2020-04-29,19:55:00
15820,871.0000,871.00,870.00,871.0000,1456,2020-04-29 19:56:00-04:00,871.49500,871.690000,2660.000000,875.825639,...,2,19,56,29,0,0,1,0,2020-04-29,19:56:00
15821,870.5000,870.99,870.01,870.5000,2838,2020-04-29 19:57:00-04:00,870.75000,871.510000,2202.444444,875.809861,...,2,19,57,29,0,0,2,0,2020-04-29,19:57:00
15822,870.5000,872.00,870.28,871.8000,4942,2020-04-29 19:58:00-04:00,870.50000,871.532222,2565.222222,875.819361,...,2,19,58,29,0,3,0,0,2020-04-29,19:58:00
15823,871.8700,872.25,870.30,870.3000,5486,2020-04-29 19:59:00-04:00,871.18500,871.343333,2999.222222,875.794361,...,2,19,59,29,0,4,0,0,2020-04-29,19:59:00

In [4]:
df['date'] = pd.to_datetime(df['date']) #Konvertovanie stĺpcu date na typ datetime

In [5]:
df1=(df[df["date"]=='2020-03-30'][:160]) #deklarovanie novej premennej df1 - k nej bolo priradených prvýchh 160 riadkov zo stĺpca date z premennej df, ktoré sa rovnali dátumu 2020-03-30
df1 #výpis premennej df1

,open,high,low,close,volume,datetime,open_ma2,close_ma9,volume_ma9,close_ma180,...,dayofweek,tradehour,trademinute,tradeday,low_support,high_resistance,blw_ma9,abv_ma9,date,time
0,504.0000,505.990,504.0000,505.8100,49234,2020-03-30 11:30:00-04:00,503.97000,502.659711,26363.555556,506.701347,...,0,11,30,30,-1,-1,0,1,2020-03-30,11:30:00
1,505.9700,507.710,505.5000,506.8592,51278,2020-03-30 11:31:00-04:00,504.98500,503.384622,30254.222222,506.671787,...,0,11,31,30,-1,-1,0,2,2020-03-30,11:31:00
2,506.9400,507.520,505.0400,505.7500,49781,2020-03-30 11:32:00-04:00,506.45500,503.994622,34867.666667,506.635342,...,0,11,32,30,-1,0,0,3,2020-03-30,11:32:00
3,505.7369,507.250,505.5200,506.5900,11467,2020-03-30 11:33:00-04:00,506.33845,504.534622,33247.000000,506.599731,...,0,11,33,30,0,0,0,4,2020-03-30,11:33:00
4,506.4850,508.320,506.2600,508.1082,18907,2020-03-30 11:34:00-04:00,506.11095,505.246644,33776.555556,506.571443,...,0,11,34,30,0,-1,0,5,2020-03-30,11:34:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,500.4000,501.320,500.2400,501.3200,19878,2020-03-30 14:05:00-04:00,500.70000,501.735611,15722.111111,507.354851,...,0,14,5,30,0,0,10,0,2020-03-30,14:05:00
156,501.3450,501.470,500.7100,501.2100,10968,2020-03-30 14:06:00-04:00,500.87250,501.537833,15238.444444,507.354239,...,0,14,6,30,0,2,11,0,2020-03-30,14:06:00
157,501.2450,502.485,501.1238,502.4850,20164,2020-03-30 14:07:00-04:00,501.29500,501.544233,16375.666667,507.366379,...,0,14,7,30,0,6,0,0,2020-03-30,14:07:00
158,502.4300,502.870,501.7584,502.3400,21768,2020-03-30 14:08:00-04:00,501.83750,501.503122,17382.888889,507.374046,...,0,14,8,30,0,8,0,1,2020-03-30,14:08:00
159,502.2700,502.490,501.5850,501.9200,7864,2020-03-30 14:09:00-04:00,502.35000,501.537189,15828.666667,507.381934,...,0,14,9,30,1,0,0,2,2020-03-30,14:09:00